<div class="main-homepage-wrapper">
	<div class="opacity" style="display:none;"></div>
	<div class="login-view" style="display:none;">
		<div class="login-wrapper">
			<%= render partial: "users/sessions/new" %>
		</div>
		<div class="registration-wrapper">
			<%= render partial: "users/registrations/new" %>
		</div>
	</div>
	<div class="header">
		<div class="logo">
			<%= image_tag 'logo.png' %>
		</div>

		<div class="button" id="login">Login</div>
	</div>

	<div class="search-box">
		<div class="search-wrapper">
			<h1>Find your FashionMate and Start Shopping</h1>
	      <%= form_tag '/search_fields', :remote => true, :id => 'search-fields' do %>
	        <label>Weight: </label>
	        <%= text_field_tag :weight, nil, :class => 'search-main-input', :id => 'weight', :placeholder => 'Weight' %>
	        <label>Height: </label>
	        <%= text_field_tag :height, nil, :class => 'search-main-input', :id => 'height', :placeholder => 'Height' %>
	        <%= submit_tag nil, :id => 'search', :value => 'Search' %>
	      <% end %>
		</div>
	</div>

	<div class="content-wrapper">
		<div class="styles-wrapper-main">
			<ul class="list-wrapper">
				<%= render partial: "styles/styles" %>
			</ul>
		</div>
	</div>
</div>