<% @styles.each do |style| %>
  <li class="style-image-wrapper" data-user="">
    <h1><%= style.title %></h1>
    <div class="image-wrapper">
      <div class="main-image">
        <%= image_tag style.image.url(:main) %>
      </div>
    </div>
    <div class="style-metadata">
      <p>User: <span><%= style.user.email %> </span></p>
      <p>Size Worn: <span><%= style.size %></span></p>
      <p>Brand: <span><%= style.brand %></span></p>
    </div>
  </li>
<% end %>